<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='trangkhoidau.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="#home">Trang chủ</a>
        </div>
        <div class="navbar-right">

            <a href="/login">Đăng nhập</a>
            <a href="/dangky">Đăng ký</a>
        </div>
    </nav>

    <div class="content">
        <!-- Nội dung trang web -->
    </div>
</body>
</html>
